[submodule ".\\thirdparty\\spdlog"]
	path = .\\thirdparty\\spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/configor"]
	path = thirdparty/configor
	url = https://github.com/Nomango/configor
